<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.search.mapper.ItemMapper">

	<resultMap id="BaseResultMap" type="com.jd.search.pojo.Item">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="sell_point" property="sellPoint" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="BIGINT" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="name" property="categoryName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getItemList" resultMap="BaseResultMap">
		SELECT a.id,a.title,a.sell_point,a.price,a.image,b.name
		FROM
		tb_item a
		LEFT
		JOIN tb_item_cat b
		ON a.cid = b.id
	</select>

</mapper>